<div class="container col-lg-12"  *ngIf="updateLehrerForm">

  <div class="card" >
    <div class="card-body">
      <app-von-update-personne [vonUpdatedPersonne]="personne" (validation)="getValidationGemeinsameInfosPersonne($event)"
                               (updatedInfosPerson)="receiveGeupdateteInfosPerson($event)"
      ></app-von-update-personne>

      <mat-grid-list cols="3" gutterSize="15px" rowHeight="75px" >

        <form class="form-group" [formGroup]="updateLehrerForm"  (ngSubmit)="onUpdateLehrer()">

          <mat-grid-tile>
            <div class="form-group mt-3">
              <label for="nbreMoisExperiences">Wie viel Monate darin( Erfahrung) :</label>
              <input type="number" id="nbreMoisExperiences" formControlName="nbreMoisExperiences"  class="form-control"
                     [ngClass]="{ 'is-invalid':  form['nbreMoisExperiences'].errors }" />
              <div *ngIf=" form['nbreMoisExperiences'].errors" class="invalid-feedback">
                <div *ngIf="form['nbreMoisExperiences'].errors['required']">
                  Zahl der Erfahrung ist erforderlich !
                </div>
              </div>
            </div>
          </mat-grid-tile>


          <mat-grid-tile>
            <div class="form-group mt-3">
              <label for="salaire">Monatliches Gehalt :</label>
              <input type="number" id="salaire" formControlName="salaire"  class="form-control"
                     [ngClass]="{ 'is-invalid':  form['salaire'].errors }" />
              <div *ngIf="form['salaire'].errors" class="invalid-feedback">
                <div *ngIf="form['salaire'].errors['required']">
                  Gehalt pro Monat   ist erforderlich
                </div>
              </div>
            </div>
          </mat-grid-tile>


          <mat-grid-tile>
            <div>

              <mat-form-field *ngIf="sprachen | async as sprachenData" >
                <mat-select  placeholder="Angabe der Sprache"   formControlName="sprache" >
                  <mat-option (click)="onSp(itemSprache.libelle)" value="{{itemSprache.libelle}}" *ngFor="let itemSprache of sprachenData">{{itemSprache.libelle}}</mat-option>

                </mat-select>
                <mat-error *ngIf="updateLehrerForm.controls['sprache'].hasError('required')">
                  {{ updateLehrerForm.controls['sprache'].errors | json }}

                </mat-error>
              </mat-form-field>
            </div>

          </mat-grid-tile>



          <mat-grid-tile>
            <div>

              <mat-form-field *ngIf="niveausByLibelleSprache | async  as niveausBySprache" >
                <mat-label class="col-lg-6">Welche Niveaus sind für diesen Kurs betroffen ?</mat-label>

                <mat-select  placeholder="Betroffene Niveaus "   formControlName="niveau" multiple>
                  <mat-option value="{{itemNiveau.libelle}}" *ngFor="let itemNiveau of niveausBySprache">{{itemNiveau.libelle}}</mat-option>

                </mat-select>
                <mat-error *ngIf="updateLehrerForm.controls['niveau'].hasError('required')">
                  {{ updateLehrerForm.controls['niveau'].errors | json }}

                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>










          <mat-grid-tile colspan="2">
            <mat-label style="color : red;"> Wichtig : Stellen Sie sicher, dass die von Ihnen eingegebene Daten richtig sind, bevor Sie sie bestätigen.
              <a href="http://datenSchutz.dre">Unserer Datenschutz</a>
            </mat-label>

          </mat-grid-tile>
          <mat-grid-tile>
            <div></div>
          </mat-grid-tile>


          <mat-grid-tile>

            <div class="mt-3 d-flex justify-content-between">
              <button type="submit" [disabled]="!submitted" class="btn btn-success">Bestätigen</button>

            </div>
          </mat-grid-tile>
        </form>
      </mat-grid-list>
    </div>
  </div>
</div>
